.input-prepend input{
    border-radius: 0 6px 6px 0;
    padding: .1em 0 0 .5em;
}

.input-prepend span{
    border-radius: 6px 0 0 6px;
    border: 1px solid #999999;

    background-color: #CCCCCC;

    padding: .25em;
    margin-top: 1px;
}

#stats-bar{
    background-color: #EEEEFF;

    padding: 1em;

    cursor: default;
}

    #money a{
        margin-left: 1.75em;
    }

    #money input{
        height: 2.1em;

        margin-left: -.375em;

        border: 1px solid #999999;
    }
